﻿@model TarjetasColpatria.Models.Reportes.UserReports

@{
    ViewBag.Title = "Details";
}


@{
	ViewBag._Active = "Details";
	ViewBag._Panel = "Home";
}




<div class="box box-danger">
	<div class="box-header with-border">
		<h3 class="box-title">Detalle UserReports</h3>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="row">
		<div class="col-md-12 col-xs-12 col-ms-12">
			<table id="tabla" class="table table-bordered table-hover">
				<tbody>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.reportes.Nombre)
								</th>

								<td>
									@Html.DisplayFor(model => model.reportes.Nombre)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.user.Document)
								</th>

								<td>
									@Html.DisplayFor(model => model.user.Document)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.DeletedAt)
								</th>

								<td>
									@Html.DisplayFor(model => model.DeletedAt)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.CreatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.CreatedBy)
								</td>
							</tr>
																			<tr>
								<th>
									@Html.DisplayNameFor(model => model.UpdatedBy)
								</th>

								<td>
									@Html.DisplayFor(model => model.UpdatedBy)
								</td>
							</tr>
										</tbody>
			</table>
			</div>
		</div>
	</div>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Regresar to List", "Index",null, new { @class = "btn btn-default" })
</p>
