﻿@model TarjetasColpatria.Models.Permisos.PermisosDash

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Crear PermisosDash</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <label>Campana</label>
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Campana, "Campana", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-8">
                                    @Html.DropDownList("Campana", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Campana, "", new { @class = "text-danger" })
                                </div>
                            </div>


                        </div>


                        <div class="col-xs-6 col-md-4">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="PermisoCampana" class="btn btn-danger" />
                                </div>

                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-8">
                            <label>Dashboard</label>

                            @*@foreach (var Dashboard in ViewBag.Dashboard)
                                {

                                    if ((List<string>)ViewBag.dash != null && ((List<string>)ViewBag.dash).Contains(Dashboard.Id.ToString()))
                                    {

                                        <opction seleted value="@Dashboard.Id">@Dashboard.Nombre</opction>
                                    }
                                    else
                                    {
                                        <option value="@Dashboard.Id">@Dashboard.Nombre</option>
                                    }
                                }*@

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @*@Html.LabelFor(model => model.Dashboard, "Dashboard", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            <div class="form-group">

                                <div class="col-md-8">
                                    @Html.DropDownList("Dashboard", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Dashboard, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="PermisoDashboard" class="btn btn-danger" />
                                </div>

                            </div>
                        </div>
                        <div class="col-xs-8">
                            <label>Reportes</label>
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.Reportes, "Reportes", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-8">
                                    @Html.DropDownList("Reportes", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Reportes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="col-md-10 check-row">
                                <form role="form">
                                    <div class="form-group">

                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-xs-12">



                            <table class="table table-bordered table-striped table-hover">

                                <thead>
                                    <tr>
                                        <th>
                                            Campaña
                                        </th>
                                        <th>
                                            Dashboard
                                        </th>
                                        <th>
                                            Reportes
                                        </th>
                                    </tr>

                                </thead>
                                <tbody>
                                    @foreach (var Permisos in ((List<TarjetasColpatria.Controllers.Custom>)ViewBag.Permisos))
                                    {
                                        <tr>

                                            <td>
                                                <label>@Permisos.dashboard</label>
                                            </td>

                                            <td>
                                                <label>@Permisos.nombre</label>
                                            </td>



                                        </tr>


                                        @*if ((List<string>)ViewBag.Report != null && ((List<string>)ViewBag.Report).Contains(Permisos.Id.ToString()))
                                            {
                                                <option selected value="@Permisos.Id">@Permisos.nombre</option>

                                            }
                                            else
                                            {
                                                <option value="@Permisos.Id">@Permisos.nombre</option>

                                            }*@
                                    }


                                </tbody>
                            </table>
                        </div>




                        <div class="col-md-offset-8 col-md-10">
                            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger" })
                            <input type="submit" value="Crear" class="btn btn-success" />
                        </div>


                    </div>

                }


            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
<p>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Permisos
    </button>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalPermisos" onclick="historial('historial','Solicituds/Historial')">
            Permisos
        </button>*@
</p>

<!-- Modal -->
<div class="modal fade  " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


    <div class="modal-dialog modal-lg" role="document">
        <div class="box box-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><span class="label label-danger center-block"> Permisos Dash</span></h4>
                        </div>
                    </div>
                    @*<h4 class="modal-title" id="myModalLabel">Permisos</h4>*@
                </div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                <div class="form-horizontal">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                    <div class="col-xs-4">
                                        <label>Campana</label>
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.Campana, "Campana", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-8">
                                                @Html.DropDownList("Campana", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Campana, "", new { @class = "text-danger" })
                                            </div>
                                        </div>


                                    </div>


                                    @*<div class="col-xs-4">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="PermisoCampana" class="btn btn-danger" />
                </div>

            </div>
        </div>*@

                                    <div class="col-xs-4">
                                        <label>Dashboard</label>

                                        @*@foreach (var Dashboard in ViewBag.Dashboard)
            {

                if ((List<string>)ViewBag.dash != null && ((List<string>)ViewBag.dash).Contains(Dashboard.Id.ToString()))
                {

                    <opction seleted value="@Dashboard.Id">@Dashboard.Nombre</opction>
                }
                else
                {
                    <option value="@Dashboard.Id">@Dashboard.Nombre</option>
                }
            }*@

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @*@Html.LabelFor(model => model.Dashboard, "Dashboard", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                        <div class="form-group">

                                            <div class="col-md-8">
                                                @Html.DropDownList("Dashboard", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Dashboard, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-xs-6 col-md-4">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="PermisoDashboard" class="btn btn-danger" />
                </div>

            </div>
        </div>*@
                                    <div class="col-xs-4">
                                        <label>Reportes</label>
                                        <div class="form-group">
                                            @*@Html.LabelFor(model => model.Reportes, "Reportes", htmlAttributes: new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-8">
                                                @Html.DropDownList("Reportes", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Reportes, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="container">
            <div class="col-md-12 check-row">
                <form role="form">
                    <div class="form-group">

                    </div>
                </form>
            </div>
        </div>*@


                                    <div class="row">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger center-block">Guardar</button>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4><span class="label label-danger center-block">Lista Permisos Dash</span></h4>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">



                                        <table class="table table-bordered table-striped table-hover">

                                            <thead>
                                                <tr>
                                                    <th>
                                                        Campaña
                                                    </th>
                                                    <th>
                                                        Dashboard
                                                    </th>
                                                    <th>
                                                        Reportes
                                                    </th>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                @foreach (var Permisos in ((List<TarjetasColpatria.Controllers.Custom>)ViewBag.Permisos))
                                                {
                                                    <tr>

                                                        <td>
                                                            <label>@Permisos.dashboard</label>
                                                        </td>

                                                        <td>
                                                            <label>@Permisos.nombre</label>
                                                        </td>



                                                    </tr>


                                                    @*if ((List<string>)ViewBag.Report != null && ((List<string>)ViewBag.Report).Contains(Permisos.Id.ToString()))
                        {
                            <option selected value="@Permisos.Id">@Permisos.nombre</option>

                        }
                        else
                        {
                            <option value="@Permisos.Id">@Permisos.nombre</option>

                        }*@
                                                }


                                            </tbody>
                                        </table>
                                    </div>




                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger center-block" data-dismiss="modal">Cerrar</button>
                                        @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger pull-left" })
            <input type="submit" value="Crear" class="btn btn-success" />*@
                                    </div>


                                </div>

                                }


                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
  
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Campana").change(function () {
                $("#Dashboard").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDashboards")',
                    dataType: 'json',
                    data: { Id: $("#Campana").val() },
                    success: function (dash) {
                        $.each(dash, function (i, dash) {
                            $("#Dashboard").append('<option value="'
                                + dash.Id + '">'
                                + dash.Nombre + '</option>');

                                                                                 
                        });
                    },


                    error: function (ex) {
                        alert('error al visualizar los dashboards' + ex);
                    }
                });
                return false;
            })
        });
    
        $(document).ready(function () {
            $("#Dashboard").change(function () {
                $("#Reportes").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetReportes")',
                    dataType: 'json',
                    data: { Id: $("#Dashboard").val() },
                    success: function (Reports) {
                        $.each(Reports, function (i, Reports) {
                            $("#Reportes").append('<option value="'
                                + Reports.Id + '">'
                                + Reports.Nombre + '</option>');


                        });
                    },
                    error: function (ex) {
                        alert('error al visualizar los reportes' + ex);
                    }
                });
                return false;
            })
        });
    </script>

}
