﻿@model TarjetasColpatria.Models.Reportes.Reportes

@{
    ViewBag.Title = "Create";
}

@{
    ViewBag._Active = "Create";
    ViewBag._Panel = "Home";
}



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Crear Reporte</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.DashboardId, "DashboardId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("DashboardId", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.DashboardId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="form-group">
                            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select id="Estado" name="Estado" class="form-control">
                                    <option value="false">Seleccione</option>
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                                              

                        <div class="form-group">
                            @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.area, "Area", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("area", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            @Html.LabelFor(model => model.campana, "Cuenta", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("campana", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.campana, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.WORKGROUP_NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.WORKGROUP_NAME, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.WORKGROUP_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.WORKGROUP_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.WORKGROUP_ID, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.WORKGROUP_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.REPORT_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.REPORT_ID, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.REPORT_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.REPORT_FILTER, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.REPORT_FILTER, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.REPORT_FILTER, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.TIPO_REPORTE, "TIPO_REPORTE", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("TIPO_REPORTE", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TIPO_REPORTE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.REPORT_DETALLE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.REPORT_DETALLE, new { htmlAttributes = new { @class = "form-control" } })

                                @Html.ValidationMessageFor(model => model.REPORT_DETALLE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                @ViewBag.errorValidacion
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Crear" class="btn btn-success" />
                                @Html.ActionLink("Regresar", "IndexPrincipal", null, new { @class = "btn btn-default" })

                            </div>
                        </div>
                    </div>
                }

                
               
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {
            $("#area").change(function () {
                $("#campana").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Getcampana")',
                    dataType: 'json',
                    data: {Id: $("#area").val() },
                    success: function (camp) {
                        $.each(camp, function (i, camp) {
                            $("#campana").append('<option value="'
                                + camp.Id + '">'
                                + camp.Nombre + '</option>');


                        });
                    },
                    error: function (ex) {
                        alert('error al visualizar las campanas' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
