﻿
@{
    //List<Core.Models.User.User> Permisos = ViewBag.users;
    IPagedList<Core.Models.User.User> Permisos = ViewBag.users;


}

@using PagedList.Mvc;
@using PagedList;

<div class="box box-danger">
    <div class="box-header with-border">
        @Html.AntiForgeryToken()
        <h3 class="box-title">Listar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            @using (Html.BeginForm("Index", "Users"))
            {
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class=" col-md-3 form-group">
                        <label>Documento</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            <input type="text" class="form-control" id="documento" name="documento" placeholder="Ingrese el documento" value="">
                        </div>
                    </div>
                    <div class=" col-md-3 form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre" value="">
                        </div>
                    </div>
                    <div class="col-md-6 inline-form form-group">
                        <label for=""> Acciones </label>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>




<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Listar Usuarios</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <br />
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>

                            <th>Documento</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Teléfono</th>
                            <th>Correo Electrónico</th>
                            <th>Estado</th>
                            <th>Acciones</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Permisos)
                        {
                           
                              var status = i.Status == true ? "Activo" : "Inactivo";
                            
                            <tr>
                                <td>
                                    @i.Document
                                </td>

                                <td>
                                    @i.Names
                                </td>

                                <td>
                                    @i.LastName
                                </td>

                                <td>
                                    @i.Phone1
                                </td>

                                <td>
                                    @i.Email
                                </td>

                                <td>
                                    @status
                                </td>



                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = i.Id }, new { @class = "btn  btn-success btn-flat margin" })
                                    @Html.ActionLink("Detalle", "Details", new { id = i.Id }, new { @class = "btn btn-default btn-flat margin" })
                                    @Html.ActionLink("Perfiles", "Roles", new { id = i.Id }, new { @class = "btn bg-orange btn-flat margin" })
                                    <button type="button" class="btn btn-danger btn-flat margin consultarUsuarioPermisos" data-id="@i.Id">
                                        Permisos
                                    </button>

                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
                @Html.PagedListPager(Permisos, i => Url.Action("Index", "Users", new { i, search = Request.QueryString["documento"] }))
             
            </div>

        </div>


    </div>

</div>



<div class="modal fade  " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">


    <div class="modal-dialog modal-lg" role="document">
        <div class="box box-danger">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1></h1>
                    <div class="row">
                        <div class="col-md-12">
                            <h4><span class="label label-danger center-block"> Permisos Dash</span></h4>
                        </div>
                    </div>

                </div>


                <div class="modal-body">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Campana</label>
                                                <div class="form-horizontal">
                                                    @Html.DropDownList("Campana", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control  " })
                                                </div>
                                            </div>

                                            <div class=" col-md-5 ">

                                                <label>Dashboard</label>
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                <div class="form-group">
                                                    <span class="input-group-btn">
                                                        @Html.DropDownList("Dashboard", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control select2" })
                                                    </span>


                                                </div>

                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-8">
                                                <label>Reportes</label>
                                                <div class="form-horizontal ">

                                                    <span class="input-group-btn">
                                                        @Html.DropDownList("Reportes", null, "Sin Seleccionar", htmlAttributes: new { @class = "form-control select2" })
                                                    </span>
                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <div class="modal-footer ">

                                                    @*<button type="button" id="modal" class="btn btn-danger center-block">Guardar</button>*@

                                                    <button type="button" class="btn btn-danger btn-flat margin CrearUsuarioPermisos" data-id="Id">
                                                        Guardar
                                                    </button>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4><span class="label label-danger center-block">Lista Permisos Dash</span></h4>
                                                <table class="table table-bordered table-striped table-hover" id="permisos">

                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Campaña
                                                            </th>
                                                            <th>
                                                                Dashboard
                                                            </th>
                                                            <th>
                                                                Reportes
                                                            </th>
                                                            <th>
                                                                Acciones
                                                            </th>
                                                        </tr>


                                                    </thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>


                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger center-block" data-dismiss="modal">Cerrar</button>
                                            @*@Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-danger pull-left" })
                                                <input type="submit" value="Crear" class="btn btn-success" />*@
                                        </div>


                                    </div>

                                }



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Permiso.js" asp-append-version="true"></script>
    <script src="~/Scripts/modal.js" asp-append-version="true"></script>


}


