﻿@model TarjetasColpatria.Models.campanas

@{
    ViewBag.Title = "Delete";
}

@{
    ViewBag._Active = "Delete";
    ViewBag._Panel = "Home";
}


<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">¿Esta seguro que desea eliminar este elemento?</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <tbody>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Nombre)
                            </td>
                        </tr>

                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Estado)
                            </td>
                        </tr>



                        <tr>
                            <th>
                                Fecha de Creación
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.CreatedAt)
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default" })
    </div>
}

