﻿@model IEnumerable<TarjetasColpatria.Models.campanas>

@{
    ViewBag.Title = "Index";
}

@{
    ViewBag._Active = "Index";
    ViewBag._Panel = "Home";
}



@*<div class="box box-danger">
        <div class="box-header with-border">
            <h3 class="box-title">Listar</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class=" col-md-3 form-group">
                        <label>Nombre</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-road"></i>
                            </div>
                            <input type="text" class="form-control" id="txt_nombre" value="">
                        </div>
                    </div>
                    <div class="col-md-6 inline-form form-group">
                        <label for=""> Acciones </label>
                        <div class="input-group">
                            <input type="submit" class="btn btn-primary" id="btnCon" value="consultar">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Lista Cuentas o Campañas</h3>
    </div><!-- /.box-header -->
    <div class="box-body">

        <div class="row">
            <div class="col-md-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Areas
                            </th>
                            <th>
                                Cuenta
                            </th>
                            <th>
                                Estado
                            </th>

                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            var estado = item.Estado == true ? "Activo" : "Inactivo";
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AreasId.Nombre)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => estado)
                                </td>

                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-xs btn-success" })
                                    @Html.ActionLink("Detalle", "Details", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-xs btn-danger" })
                                    @Html.ActionLink("Dashboard", "Index", "Dashboards", new { id = item.Id }, new { @class = "btn btn-xs bg-orange" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

