﻿
.skin-green-light .main-header .navbar, .skin-green-light .main-header .logo:hover, .skin-green-light .main-header .logo {
    /*background-color: rgba(0,99,65,1);*/
    color: inherit;
}
.oc {
    opacity:0 !important;
}

.mt-20 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}
.br-5 {
    border-radius : 5px !important;
}

/* CODIGO PARA EL AYUDA VENTA */

html .ayuda_group input , html .ayuda_group label{
    font-size : 12px;
    font-weight: normal;
}

    html .ayuda_group input:hover, html .ayuda_group label:hover {
        cursor:pointer;
    }



html .ayuda_section{
    margin-left: 10px;
    vertical-align: top;
}

html .ayuda_Tarifa button{
    width: 250px;
    font-size: 20px;
    font-weight: bolder;
}

body .select2{
    width: 100% !important;
}

.input-group-btn {
    position: relative;
    font-size: 12px !important;
    white-space: nowrap ;
}

#reportContainer {
    height: 900px;

    /*width: 100%;*/
    /*max-width: 1000px;*/
}

#dashboardContainer {
    height: 920px;
    width: 100%;
    max-width: 1320px;
}
