﻿@using Core.Models.Security
@using Core.ViewModel


@{ 

    var Menu = SessionPersister.ShowMenu();

    var Campana = Menu.GroupBy(c => c.Campana).Select(c => new { Nombre = c.Key }).ToList();


}

<!-- /.search form -->
<!-- sidebar menu: : style can be found in sidebar.less -->
<body background="~/Images/fondo-triangulos-02.png" bgcolor="aqua">
    <ul class="sidebar-menu" data-widget="tree">
        @foreach (var c in Campana)
        {
            <li class="header">@c.Nombre</li>

            var Dash = Menu.Where(j => j.Campana == c.Nombre).GroupBy(j => j.DashBoard).Select(j => new { Nombre = j.Key }).ToList();
            foreach (var d in Dash)
            {
                <li class="treeview @if (ViewBag._Panel == "Gestion") { Write("active"); } ">
                    <a href="#">
                        <i class="fa fa-cubes"></i> <span>@d.Nombre</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li>
                            @foreach (var rep in Menu.Where(m => m.DashBoard == d.Nombre).ToList())
                            {
                                <a href="@Url.Action("Home", "Accounts",new { Id = rep.Id})"><i class="fa fa-circle-o"></i>@rep.Nombre</a>
                                @*<a href="https://localhost:44365/?id=@rep.Id" target="_blank">@rep.Nombre</a>*@
                            }
                            

                        </li>
                       
                    </ul>
                </li>

                //var Dash = Menu.Where(j => j.Campana == c.Nombre).GroupBy(j => j.DashBoard).Select(j => new { Nombre = j.Key }).ToList();
            }

        }

        <!-- #endregion -->
        <!-- #region GESTION -->
        <li class="">
            <a href="@Url.Action("Logout","Accounts",null)">
                <i class="fa fa-sign-out"></i>
                <span>Cerrar sesión</span>
            </a>
        </li>

    </ul>
    <style>
        .sidebar-collapse .crosselinglogo {
            display: none;
        }
    </style>
</body>