﻿
@{
    ViewBag.Title = "EmbedDashboard";
    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";
}


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <div id="errorWrapper">
        <h2>
            Error
        </h2>
        @Model.ErrorMessage
    </div>

    return;
}

<h2>@ViewBag.NombreReporte</h2>

<div id="dashboardContainer"></div>
<div class="infoBox">
    Code is in files:<br />
    1) HomeController.cs<br />
    2) EmbedDashboard.cshtml
</div>
@Html.Partial("LiveDemoLink")

@section Scripts {


    <script>

    $(document).ready(function () {

    // Read embed application token from Model
    var accessToken = "@Model.EmbedToken.Token";

    // Read embed URL from Model
    var embedUrl = "@Html.Raw(Model.EmbedUrl)";

    // Read dashboard Id from Model
    var embedDashboardId = "@Model.Id";

    // Get models. models contains enums that can be used.
    var models = window['powerbi-client'].models;

    // Embed configuration used to describe the what and how to embed.
    // This object is used when calling powerbi.embed.
    // This also includes settings and options such as filters.
    // You can find more information at https://github.com/Microsoft/PowerBI-JavaScript/wiki/Embed-Configuration-Details.
    var config = {
        type: 'dashboard',
        tokenType: models.TokenType.Embed,
        accessToken: accessToken,
        embedUrl: embedUrl,
        id: embedDashboardId
    };

    // Get a reference to the embedded dashboard HTML element
    var dashboardContainer = $('#dashboardContainer')[0];

    // Embed the dashboard and display it within the div container.
        var dashboard = powerbi.embed(dashboardContainer, config);

    });

    </script>

    <script src="https://npmcdn.com/es6-promise@3.2.1"></script>
    <script src="~/scripts/powerbi.js"></script>

}