﻿

@{
    ViewBag.Title = "EmbedReport";
    Layout = "~/Views/Shared/_LayoutAsesor.cshtml";

    var reporteId = ViewBag.reporteId;
    var url = ViewBag.url;

}

    <style>
        body {
            margin: 0; /* Reset default margin */
        }

        #iframeFather {
            border: none;
            height: 100vh !important;
            width: 100vw !important;
            margin-left: -150px !important;
        }
    </style>

<div class="row">
    <div class="col">
        <iframe id="iframeFather" title="Inline Frame Example" src="@url?id=@reporteId">
        </iframe>
    </div>
</div>





@Html.Partial("LiveDemoLink")

