﻿<!--<div class="infoBox">
    For Live demo and more code samples please visit <a href="https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html">https://microsoft.github.io/PowerBI-JavaScript/demo/v2-demo/index.html</a>
    <br />
    For JavaScript API, please visit <a href="https://github.com/Microsoft/PowerBI-javascript/wiki">https://github.com/Microsoft/PowerBI-javascript/wiki</a>
    <br />
    For RLS info, visit <a href="https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-embedded-rls/">https://powerbi.microsoft.com/en-us/documentation/powerbi-developer-embedded-rls/</a>
</div>-->
