﻿@model TarjetasColpatria.Models.Areas.Areas

@{
    ViewBag.Title = "Details";
}


@{
    ViewBag._Active = "Details";
    ViewBag._Panel = "Home";
}




<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Detalle Areas</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-ms-12">
                <table id="tabla" class="table table-bordered table-hover">
                    <tbody>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Nombre)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Estado)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.Estado)
                            </td>
                        </tr>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </th>

                            <td>
                                @Html.DisplayFor(model => model.descripcion)
                            </td>
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Regresar to List", "Index", null, new { @class = "btn btn-default" })
</p>
